{{- define "main" -}}

{{ partial "hero-area.html" . }}

{{ partial "navigation.html" . }}
<section id="counter" class="container bg-1 flex1">
  <div class="padding-2 padding-8">
    <h2>{{ .Title | markdownify }}</h2>
    <div class='mb-8'>
      <div class="flex">
        <svg class="w-4" xmlns='http://www.w3.org/2000/svg' xmlnsXlink='http://www.w3.org/1999/xlink' version='1.1'
          x='0px' y='0px' viewBox='0 0 24 24' style="fill: #94969f;" xmlSpace='preserve' width='100%' height='100%'>
          <path
            d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z' />
          <path d='M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z' />
        </svg>
        {{ $customDateFormat := "02.01.2006" }}
        {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
        <span class="data-news">{{ .PublishDate.Format $customDateFormat }}</span>
      </div>
    </div>
    {{ .Content }}
  </div>
</section>

{{- end -}}