<!DOCTYPE html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body id="body">
    <div id="content" class="bg-1">
        {{- block "main" . }}{{- end }}

        {{- partial "footer.html" . -}}
    </div>
</body>

</html>