
@import url("https://fonts.googleapis.com/css?family=Anaheim|Quattrocento+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&subset=cyrillic');

html {
  background-color: #fcfcfd;
  color: #292929;
  height: 100%;
}

body {
  font-family: Roboto, Source Sans Pro, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#body > div, #body > div > div  {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1;
}

.flex1 {
  flex: 1;
}

input {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: Roboto,Source Sans Pro,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  color: #292929;
}

.h2, h2 {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

pre {
  color: #afbac4;
}

/*=================================================================
  Basic Setup
==================================================================*/

hr {
  border-top: 1px solid rgba(255,255,255,.1);
}

figure {
  margin: 0;
}

a {
  color: #94969f;
  transition: all .3s ease-in 0s;
}

iframe {
  border: 0;
}

a:focus,
a:hover {
  color: #94969f;
  text-decoration: underline;
  outline: 0;
}

.kill-margin-bottom {
  margin-bottom: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

.flex {
  display: flex;
}
@media (max-width: 576px) {
  .flex {
    display: block;
  }
}

.justify-beetwen {
  justify-content: space-between;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-8 a {
  color: #292929;
  text-decoration: none;
}

.mb-8 a:hover {
  color: #292929;
  text-decoration: underline;
}

.mb-8 .data-news {
  font-size: .75rem;
  color: #94969f;
}

.w-4 {
  width: 1.5rem;
  padding-right: .5rem;
}

.mb-50{
  margin-bottom: 50px;
}

.bg-one {
  background-color: #ffffff;
}

.no-padding {
  padding: 0 !important;
}

.inline-block {
  display: inline-block;
}

.mt-20 {
  margin-top: 20px;
}

.section {
  padding: 100px 0;
}

@media (max-width: 480px) {
  .section {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 80px 0;
  }
}

.section-sm {
  padding: 70px 0;
}

.section-xs {
  padding: 50px 0;
}

.btn:focus {
  color: #ddd;
}

#home {
  position: relative;
}

.parallax-section {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}


.title {
  padding-bottom: 60px;
}

.title h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 38px;
  color: #fff;
}

.title p {
  color: #666;
}


.bg-gray {
  background: #f9f9f9;
}

.section-bg {
  background: #292F36;
}

.overly {
  position: relative;
}

.overly:before {
  content: '';
  background: rgba(0, 0, 0, 0.096);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-bradcrumb {
  background: transparent;
}

.logo {
  margin-left: .5rem;
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

/*=================================================================
  Navigation
==================================================================*/
.navigation {
  background-color: #fff;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

.padding-25 {
  padding: .25rem;
}
@media(max-width: 576px){
  .padding-25 {
    padding: .25rem 0;
  }
}

.padding-75 {
  padding: .75rem;
}

.padding-8 {
  padding-left: 8rem;
  padding-right: 8rem;
}
@media(max-width: 992px){
  .padding-8 {
    padding-left: 0;
    padding-right: 0;
  }
}

.padding-5 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.padding-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navigation.nav-border-top {
  border-top: 3px solid #e8e9ea;
  border-bottom: 1px solid #e8e9ea;
}

.navigation .logo {
  margin: 0 0 0 .5rem;
  padding-top: .7rem;
  padding-bottom: .7rem;
  display: block;
}

.navigation .navigation-menu li a.active {
  color: #292929;
}

.navigation .navigation-menu li a {
  font-size: 16px;
  color: #94969f;
}

.navigation .navigation-menu li a:hover,
.navigation .navigation-menu li a:focus {
  background: transparent;
  color: #292929;
}

@media (max-width: 576px) {
  .navigation .navigation-menu li a {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.navigation .navbar-toggler {
  align-items: center;
  padding: .5rem .75rem;
  border-width: 1px;
  border-radius: .25rem;
  color: #e8e9ea;
  border-color: #e8e9ea;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  height: calc(12px + 16px + 2px);
}

.navigation .navbar-collapse {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  border-top: 5px solid transparent;
}

@media (min-width: 768px) {
  .navigation .navbar-collapse {
    box-shadow: none;
    border-top: none;
  }
}

.bg-1 {
  background-color: #fcfcfd;
}

.bg-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.svg-toggler {
  width: .75rem;
  height: .75rem;
  fill: #e8e9ea;
}

.navbar-toggler {
  line-height: 0.5;
}

/*=================================================================
  Navbar Dropdown
==================================================================*/
.dropdowns {
  
  justify-content: space-around;
  display: flex; 
  margin-top: .5rem; 
  margin-bottom: .5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:after {
  border-color: #292929 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  right: 0;
  top: 1.1rem;
  width: 0;
  z-index: 1021;
}

.dropdown:hover:after {
  border-color: transparent transparent #292929;
  border-width: 0 5px 5px;
  border-style: solid;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  right: 0;
  top: 1.1rem;
  width: 0;
  z-index: 1021;
}

/* Dropdown head */
.dropdown-head {
  border: 0 solid #e8e9ea;
  display: inline-block;
  cursor: pointer;
  padding: .45rem 1rem;
  color: #292929;
  text-align: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1021;

  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
  border-radius: .5rem;
  background-color: #fff;
  padding: 0;
  left: -1.5rem;
  top: -.5rem;
  text-align: right;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: .5rem 1.5rem;
  display: block;
  text-decoration: none;
  border-top: 1px solid #f3f4f6;
  color: #94969f; 
  text-align: right;
}

.dropdown-content a:first-child {
  padding: .95rem 2.5rem;
  color: #292929; 
  cursor: pointer;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #292929;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*=================================================================
  Footer
==================================================================*/

.footer {
  border-top: 1px solid #e8e9ea;
  background-color: #fff;
  width: 100%;
  height: 47px;
}

.footer-imgs {
  display: flex;
}

.footer-imgs a {
  color: #94969f;
  padding-left: .75rem;
  padding-right: .75rem;
}

.footer-imgs a:last-child {
  padding-right: 0;
}

.footer-img {
  height: 1rem;
  vertical-align: middle;
}

.footer-links {
  font-size: .875rem;
  justify-content: space-around;
  align-items: center;
}

.footer-link {
  padding: 0;
}

.footer-link a {
  color: #94969f;
  padding-bottom: 0;
  padding-top: 0;
  text-decoration: none;
}
.footer-link a:hover {
  text-decoration: underline;
}

.border-a {
  border-right: 1px solid #c5c7cd;
}


@media (max-width: 576px) {
  .footer-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }

  .footer-link a {
    border-right-width: 1px;
    border-color: #c5c7cd;
  }

  .border-a {
    border-right: none;
  }
}


.form-meghna .form-control {
  -webkit-appearance: none;
  padding: .8rem;
  padding-right: 3rem;
  color: #292929;
  border: 1px solid rgba(236, 239, 241, 0.07);
  border-color: #f3f4f6;
  border-radius: .25rem;
  background-color: #f3f4f6;
  height: 46px;
  width: auto;
}

.form-meghna .form-control:focus
{
  outline: 0;
  border-color: #3756ac;
  background-color: #ffffff;
  box-shadow: none;
}

.form-meghna ::placeholder
{
  color: #94969f !important;
}
@media (max-width: 576px) {
  .form-meghna .form-control {
    width: 100%;
  }
}

.search {
  display: flex;
  padding-right: 12px;
}

@media (max-width: 576px){
  .search {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.search-img {
  margin-left: -2rem;
  cursor: pointer;
}



/*=================================================================
  Item counter section
==================================================================*/
.counters-item {
  padding: 25px 0;
  margin-bottom: 10px;
  background: #292F36;
}

.counters-item i {
  margin-bottom: 10px;
  font-size: 40px;
  display: inline-block;
}

.counters-item span {
  display: block;
  font-weight: bold;
  font-size: 35px;
  line-height: 50px;
}

.counters-item h3 {
  font-size: 20px;
  margin: 0;
}

/*=================================================================
  pagination
==================================================================*/
.pagination {
  margin: 0;
  list-style: none;
  display: flex;
  padding: .5rem 0;
}

.pagination>li a,
.pagination>li span{
  text-decoration: none;
  position: relative;
  display: block;
  padding: .5rem 1rem;
  margin-left: -1px;
  color: #94969f;
  background-color: #fff;
  border: 1px solid #e8e9ea;
}

.pagination>li.active a, .pagination>li:hover a {
  color: #fff;
  background-color: #3756ac;
}

.pagination>li:first-child a {
  border-radius: 50% 0 0 50%;
  margin-left: 0;
}
.pagination>li:last-child a {
  border-radius: 0 50% 50% 0;
}

