{{"<!-- end Contact Area -->" | safeHTML}}
<footer id="footer" class="footer">
	<div class="container">
		<div class="flex justify-beetwen">
			{{"<!-- logo -->" | safeHTML}}
			<a class="logo" href="https://smartpool.by">
				<img src="{{ .Site.Params.logo | absURL }}" alt="Logo" style="height: 32px;" />
			</a>
			{{"<!-- logo -->" | safeHTML}}
			<div class='flex footer-links'>
				<div class='footer-link'><a href="https://smartpool.by/tos" class='px-3'>{{i18n "tou"}}</a></div>
				<div class='footer-link'><a href='/news/{{i18n "lang-1"}}' class='px-3 '>{{i18n "news"}}</a></div>
				<div class='footer-link'><a href="https://smartpool.by/about" class='px-3 border-a'>{{i18n "about"}}</a></div>
				<div class='footer-imgs'>
					<a href='https://t.me/smartpool_by' target='_blank'>
						<img class='footer-img' src='/news/images/telegram.svg' alt='Telegram' /></a>
					<a href='https://www.facebook.com/smartpool.by/' target='_blank'>
						<img class='footer-img' src='/news/images/facebook.svg' alt='Facebook' /></a>
				</div>
			</div>
		</div>
	</div>
</footer>
{{"<!-- /footer -->" | safeHTML}}

{{"<!-- Essential Scripts -->" | safeHTML}}

{{"<!-- Main jQuery -->" | safeHTML}}
<script type="text/javascript" src="{{ "plugins/jquery/dist/jquery.min.js" | absURL}}"></script>
{{"<!-- Bootstrap 4.3 + Popper -->" | safeHTML}}
<script type="text/javascript" src="{{ "plugins/bootstrap/dist/js/bootstrap.bundle.min.js" | absURL}}"></script>

<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
	ga('create', '{{ .Site.Params.googleAnalitycsID }}', 'auto');
	ga('send', 'pageview');
</script>
<script>
function onClickSearch() {
	location.replace("https://www.smartpool.by/search/" + document.getElementById("wallet").value);
}
</script>
<script>
	function onKeyPress(e) {
		if(e.which == 13 || e.keyCode == 13) {
			e.preventDefault();
			location.replace("https://www.smartpool.by/search/" + document.getElementById("wallet").value);
		}
	}
</script>

</body>

</html>