{{"<!-- Welcome Slider-->" | safeHTML}}
<section id="hero-area" class="navbar navbar-expand-sm navigation">
    <div class="container padding-5">
        {{"<!-- logo -->" | safeHTML}}
        <a class="logo" href="https://smartpool.by">
            <img src="{{ .Site.Params.logo | absURL }}" alt="Logo" style="height: 44px;" />
        </a>
        {{"<!-- logo -->" | safeHTML}}

        <div class="wow collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: flex-end;">
            <form id="contact-form" class="form-meghna flex" style="align-items: center;">
                <div class="search">
                    <input type="text" placeholder="{{i18n "miner"}}" class="form-control" id="wallet"
                        onkeypress="onKeyPress(event)" autocomplete="off">
                    <img class='search-img' src='/news/images/search.svg' onclick="onClickSearch()" alt='input-image' />
                </div>
                <div class="dropdowns">
                    <div class="dropdown">
                        <div class="dropdown-head">Pools</div>
                        <div class="dropdown-content">
                            <a>Pools</a>
                            <a href="https://eth-smartpool.by">Ethereum</a>
                            <a href="https://zec-smartpool.by">Zcash</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <div class="dropdown-head">{{i18n "lang-1"}}</div>
                        <div class="dropdown-content">
                            {{ range $.Site.Home.AllTranslations }}
                                {{ range .Translations }}
                                    {{ if eq .Lang $.Site.Language.Lang }}
                                        <a href="{{ .Permalink }}">{{ .Lang }}</a>
                                    {{ end }}
                                {{ end }}
                            {{ end }}

                            {{ range $.Site.Home.AllTranslations }}
                                {{ range .Translations }}
                                    {{ if not (eq .Lang $.Site.Language.Lang) }}
                                        <a href="{{ .Permalink }}">{{ .Lang }}</a>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {{"<!-- main nav -->" | safeHTML}}
        {{"<!-- responsive nav button -->" | safeHTML}}
        <button class="navbar-toggler navbar-dark flex-sm" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <svg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' class='svg-toggler'>
                <path d='M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z' />
            </svg>
        </button>
        {{"<!-- /responsive nav button -->" | safeHTML}}
        {{"<!-- /main nav -->" | safeHTML}}
    </div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}