{{"<!-- Fixed Navigation -->" | safeHTML}}
<nav id="navigation" class="navbar navbar-expand-sm navigation sticky-top nav-border-top">
        <div class="container padding-5">
                {{"<!-- main nav -->" | safeHTML}}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto navigation-menu">
                                <li class="padding-25 nav-item "><a class="nav-link " href="https://smartpool.by">{{ i18n "main" }}</a></li>
                                <li class="nav-item padding-25"><a class="nav-link active" href='/news/{{i18n "lang-1"}}'>{{ i18n "news" }}</a></li>
                                <li class="nav-item padding-25"><a class="nav-link" href="https://smartpool.by/faq">{{ i18n "faq" }}</a></li>
                        </ul>
                </div>
                {{"<!-- /main nav -->" | safeHTML}}
        </div>

</nav>
{{"<!-- End Fixed Navigation -->" | safeHTML}}
