{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
    <ul class="pagination">
        <li class="{{ if not $pag.HasPrev }}disabled{{ end }}">
            <a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous"><</a>
        </li>
        {{ $.Scratch.Set "__paginator.ellipsed" false }}
        {{ range $pag.Pagers }}
            {{ $right := sub .TotalPages .PageNumber }}
            {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
            {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
            {{ if $showNumber }}
                {{ $.Scratch.Set "__paginator.ellipsed" false }}
                {{ $.Scratch.Set "__paginator.shouldEllipse" false }}
            {{ else }}
                {{ $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed") ) }}
                {{ $.Scratch.Set "__paginator.ellipsed" true }}
            {{ end }}
            {{ if $showNumber }}
                <li class="{{ if eq . $pag }}active{{ end }}">
                    <a href="{{ .URL }}">{{ .PageNumber }}</a>
                </li>
            {{ else if ($.Scratch.Get "__paginator.shouldEllipse") }}
                <li class="disabled">
                    <span aria-hidden="true">&hellip;</span>
                </li>
            {{ end }}
        {{ end }}
        <li class="{{ if not $pag.HasNext }}disabled{{ end }}">
            <a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next">></a>
        </li>
    </ul>
{{ end }}